html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ecf0f1;
}

#logo {
    margin-top: 20px;
    margin-left: 40px;
}

#files_input {
    margin-right: 10px;
    margin-left: 40px;
    margin-top: 30px;
    width: 100%;
}

#save_directory {
    position: absolute;
    margin-left: 40px;
    bottom: 90px;
    width: 60%;
}

#merge_button {
    position: absolute;
    bottom: 30px;
    width: 65%;
    margin-left: 70px;
    height: 25px;
}

.delete_button {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    margin-top: -20px;
}

#file_list {
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
    max-height: 280px;
    overflow-y: auto;
    width: 380px;
}

.file_field {
    margin-top: 10px;
}

.path_field {
    display: block;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}